section
	.main-panel
		.section-number
			.pacman
			.pac-dot
			.pac-dot
			.pac-dot
			.pac-dot
			.pac-dot
			.pac-dot
		.title
			.first-name
				include FirstName.svg
			.last-name
				include LastName.svg
		.blurb 
			strong Student / Software Developer
			div Enthusiastic computer science student
