.row {
    display: flex;
  }
  
  .column {
    flex: 100%;
  }

svg {
    stroke-width: 0.005;
    stroke: #BBB;
    fill: #FFF;
}



.set-a {
    fill: #B4F8C8;
}

.set-b {
    fill: #A0E7E5;
}

.set-a-and-b {
    fill: #FFAEBC;
}


#conditional-equation .set-a {
    fill: #FFF;
}
#conditional-equation .set-b {
    fill: #FFF;
}
